EXPO_PUBLIC_FIREBASE_API_KEY=replace_me
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=replace_me.firebaseapp.com
EXPO_PUBLIC_FIREBASE_PROJECT_ID=replace_me
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=replace_me.appspot.com
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=replace_me
EXPO_PUBLIC_FIREBASE_APP_ID=replace_me
EXPO_PUBLIC_FIREBASE_MEASUREMENT_ID=
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=replace_me.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_ANDROID_CLIENT_ID=replace_me.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID=
